.car-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;

    &-image {
        max-width: 100%;

        &-container {
            align-self: center;
        }
    }

    &-table {
        display: flex;
        align-self: center;
        flex-wrap: wrap;
        border: 3px solid #ccc;
        margin-top: 50px;

        &-item {
            flex: 0 0 50%;
            padding: 20px 40px;
            border: 3px solid #ccc;
            width: min-content;
            font-size: 20px;
            font-weight: 700;
        }

        &-price {
            .car-details-table-value {
                color: #e31a1a;
            }
        }
    }
}
