main {
    display: flex;
    flex-direction: column;

    .carousel{
        min-width: 1400px;
        max-width: 1400px;
        align-self: center;

        &-control {
            &-prev-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
                width: 4rem;
                height: 4rem;
            }

            &-next-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
                width: 4rem;
                height: 4rem;
            }
        }

        &-caption {
            h5 {
                font-size: 21px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            p {
                font-size: 18px;
            }
        }
    }

    .home-cards {
        display: flex;
        justify-content: space-between;
        min-width: 1400px;
        max-width: 1400px;
        align-self: center;
        margin: 50px 0;

        .card {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex: 0 0 30%;
            padding: 30px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 7px 7px 12px rgb(0 0 0 / 10%);

            img {
                width: 120px;
                height: 80px;
                align-self: center;
            }

            h5 {
                margin-top: 20px;
                font-size: 25px;
                align-self: center;
            }

            p {
                margin-top: 15px;
                font-size: 18px;
                align-self: center;
            }
        }
    }
}


